/* Scoped CSS for horizontal NavMenu */

.nav-item ::deep .nav-link {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    color: #495057 !important;
}

.nav-item ::deep .nav-link:hover {
    background-color: #f8f9fa;
    color: #0d6efd !important;
}

.nav-item ::deep a.active {
    background-color: #e9ecef;
    color: #0d6efd !important;
    font-weight: 700 !important;
}
